<!DOCTYPE html>
<html>
<head>
        <title>{{ ansible_hostname }}</title>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

	<img src={{ web_image }} style="width:40%">

</body>
</html>

