<!DOCTYPE html>
<html>
    <head>
        <title>Ansible Demo</title>

        <style type="text/css">
        <!--
        html, body, #tbl_wrap { height: 100%; width: 100%; padding: 0; margin: 0; }
        #td_wrap { vertical-align: middle; text-align: center; }
        -->
        </style>
    </head>

    <body>
        <table id="tbl_wrap"><tbody><tr><td id="td_wrap">

		<p><center><font size="100" color="{{ web_colour }}">{{ ansible_fqdn }}</font></center></p>


        </td></tr></tbody></table>
    </body>
</html>
