<!DOCTYPE html>
<html>
    <head>
        <title>{{ ansible_hostname }}</title>

        <style type="text/css">
        <!--
        html, body, #tbl_wrap { height: 100%; width: 100%; padding: 0; margin: 0; }
        #td_wrap { vertical-align: middle; text-align: center; }
        -->
        </style>
    </head>

    <body>
        <table id="tbl_wrap"><tbody><tr><td id="td_wrap">
                                        <p><center><img src="{{ web_image }}"/></center></p>
        </td></tr></tbody></table>
    </body>
</html>
